@import 'var.less';
@import 'reset.less';
@import 'layout.less';

html {
    background: fade(@main-color, 60%) url('../assets/image/bg.jpg') fixed;
}

body {
    font-family: SimHei, 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @font-color;
    font-size: 14px;
}
